* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f4f6f9;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.2s ease;
}

input:focus, select:focus {
  border-color: #4a90e2;
  outline: none;
}

button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.btn-primary {
  background-color: #4a90e2;
  color: white;
  width: 100%;
}

.btn-primary:hover {
  background-color: #357bd8;
}

.btn-danger {
  background-color: #e74c3c;
  color: white;
}

.btn-danger:hover {
  background-color: #c0392b;
}

.btn-success {
  background-color: #2ecc71;
  color: white;
}

.btn-success:hover {
  background-color: #27ae60;
}

.dashboard {
  padding: 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.task-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.task-form input {
  flex: 1;
}

.task-card {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
}

.task-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;  
}
.task-card h3 {
  margin-bottom: 5px;
}

.task-card p {
  font-size: 14px;
  color: #666;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);   
  backdrop-filter: blur(5px);       

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}


.edit-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 350px;
}

.error-message {
  background-color: #ffffff;
  color: #e74c3c;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.success-message {
  background-color: #ffffff;
  color: #2ecc71;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.delete-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 350px;
}